.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

canvas{
    position: relative!important;
    border-radius: 11px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.226);
    transform: scale(0.6);
}

.icons{
    font-size: 100px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.771);
    z-index: 100;
}

.left-icon{
    position: absolute;
    top: 40%;
    left: 20px;
}
.right-icon{
    position: absolute;
    top: 40%;
    right: 20px;
}