.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/*
canvas{
    position: relative!important;
    border-radius: 11px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.226);
    transform: scale(0.7);
}
*/

.icons{
    font-size: 100px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.671);
    z-index: 100;
    transition: all 0.3s ease;
}

.icons:hover{
    color: rgba(0, 0, 0, 0.771);
    transform: scale(1.05);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.192);
}

.left-icon{
    position: absolute;
    top: 40%;
    left: 20px;
}
.right-icon{
    position: absolute;
    top: 40%;
    right: 20px;
}

.download{
    padding: 10px 20px;
    background-color: #00D397;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 211, 151, 0.281);
    cursor: pointer;
    outline: none;

}